body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.diff {
  margin: 0;
  padding: 10px;
}

.added {
  background-color: #e5fbe5;
  color: #0c4c0c;
}

.removed {
  background-color: #ffd8d8;
  color: #4f0000;
}